body{
   background-color: rgb(250, 192, 233);
}
h1 {
    text-align: center;
    font-family: fantasy;
    background-color: rgb(248, 146, 134);
}
div{
    text-align: center;
    font-size: 25px;
    padding: 5px;
    margin: auto;
    
}
